/*fonts*/
.inter-regular{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100s;
  font-style: normal;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body{
    background-color: rgba(245, 248, 255, 1);
}

/*shared style*/
.mlogo{
    height: 82px;
    width: 135px;
    
}
/*head*/
.headup{
    display: flex;
    justify-content: space-between;
    padding: 24px 150px 114px 150px;
    align-items: center;
}
#headlist{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 48px;
    font-family: "Inter", sans-serif;
    
   
}
.li4 img{
    height: 24px;
    width: 24px;
    padding-right: 10px;
}
.li1{
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}
.li2, .li3{
    color: rgba(137, 135, 161, 1);
}
.li4{
    display: flex;
    align-items: center;
    font-weight: 400;
}
/*head info*/
.headinfo{
    height: 461px;
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:end;
    margin: 0 auto;
    gap: 0px;
    
}
.uptext{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    line-height: 1.2;
    height: 11.12rem;
    width: 35.6rem;
}

.upin, .upin2, .planthead{
    color:rgba(233, 90, 8, 1) ;
}
.headart{
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    background-color: #d9d9d9;
}
.itext{
    display: none;
}
/*body things*/

.plants{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
    height: 999.88px;
    width: 1140px;
    
  
}
.plants-info{
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: "Inter", sans-serif;
    font-size: 22px;

}
.plants img{
    height: 332.94px;
    width: 270px;
}
.price{
    font-weight: 700;
}
.btn-primary{
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    font-family: "Inter", sans-serif;
    font-size: 16;
    font-weight: 500;
    border: none;   
}
.plantmain{
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;  
    height: 138px;
    width: 1140px;
    margin-bottom: 100px;
    margin-top: 120px;
}
#plantb{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
}
.plantpara{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);


}
/*trust corner*/
.trusted{
    height: 597px;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: 210px;
    gap: 60px;
}
.timage2{
    height: 285px;
    width: 285px;
    
}
.td2{
    width: 540px;
    height: 597px;
   
}

.td{
    margin-top:-723px;
    margin-left:725px;

}

.thead{
    margin:0;
    font-size: 50px;
    font-weight: 700;
}
.tlist{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}
.tinfo{
    margin: 38px 0px;
}
/*deals*/
.deals{
    margin-top:500px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.dpara{

    height: 54px;
    width: 888px;

}
.offer-container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 28px;

}

    
   


.bloom{
    border: solid black 2px;
    width: 100%;
    height: 100%;
    background-image: url(./assets/deal-bloom.png); 
    text-align: center;
    background-repeat: no-repeat ;
}


.bloom-text{
    font-size: 20px;
    font-weight: 700;
    height: 27px;
    width: 270px;
    color: #ffffff;
    padding-top: 65px;
    margin-bottom: 0px;
    
    
}
.bloom-b{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    height: 50px;
    width: 270px;
    margin-top: 0px;
    
}
.ana{
    width: 100%;
    height: 100%;
    background-image: url(./assets/deal-ana.png);
    text-align: center;
    padding: 65px 49px 65px 49px;
    background-repeat: no-repeat ;
}




.zabo{
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    
    

}
.zabo-text{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    height: 50px;
    width: 498px;
    margin-bottom: 0px;

}
.zabo-b{
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    height: 50px;
    width: 270px;
    margin-top: 0px;
}
/*search bar section*/
.search-bar{
    background-image: url(./assets/news-letter-bg.png);
}
/*last foot last*/
.lastdiv{
    display: grid;
    height: 533px;
    grid-template-columns:repeat(4, 1fr);
    gap:110px;
    padding: 50px 160px 150px 160px;
}
.last-list1{
    display: grid;
    gap: 32px; 
}
.last-list2{
    display: grid;
    gap: 32px; 
}
.last-list-items{
    list-style: none;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: gray;
}
.imgcontainer{
    height: 36px;
    width: 216px;
    gap:24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    

}
@media screen and (max-width: 430px){
    .li1, .li2, .li3, .headart{
        display: none;
    }
    .headup{
        width: 22.5rem;
        height: 2.37rem; 
        padding: 67px 16px 28px 16px;  
       
    }

    .headinfo{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 393.18px;
        
        
    }

    .mlogo{
        height: 38px;
        width: 63px;

    }
    .uptext{
        order: 2;
        font-size: 24px;
        height: 147px;
        width: 361px;
        padding: 28px 16px 65px 16px;

    }
        
    
    .itext{
        display: block;   
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin: 0 200;
        color: rgba(0, 0, 0, 0.5);
        height: 4.25rem;
        width: 22.5rem;
    }
    .headinfo img{
        height: 245px;
        width: 430px;
    }
    .plant-design{
        justify-items: center;
    }
    .plantmain{
        height: 117px;
        width: 393px;
        padding: 0px 0px 28px 0px;
        margin: 0 auto;

    }
    .rplant{
        font-size: 24px;
    }
    #plantb{
        width: 393px;
        height: 33px;
        font-size: 24px;
        margin-bottom: 16px;
    }
    .plantpara{
        height: 68px;
        width: 336px;
        font-size: 14px;
        text-align: center;
        margin-top: 0px;

    }
    .plants{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 auto;
        height: 340.5px;
        width: 362px;
    }
    .plants img{
        height: 196.5px;
        width: 171px;
    }
    .plants-info{
        height: 340.5px;
        width: 171px;
    }

    .btn-primary{
        height: 50px;
        width: 171px;
    }
    .plants-info p{
        height: 12px;
        width: 96px;
        font-size: 16px;
        margin-bottom: 0px;
    }
    .price{
        width: 59px;
        height: 12px;
        font-size: 16px;
        margin-top: 0px;
        text-align: center;

    }
    .td{
        display: none;
    }
    .td2{
        height: 396px;
        width: 358px;
    }
    .trusted{
        grid-template-columns: repeat(1, 1fr);
        width: 361px;
        height: 648px;
        padding-top: 900px;
        gap:18px
    }
    .timage{
        height: 396px;
        width: 358px; 
    }
    .tinfo{
        height: 234px;
        width: 361px;
    }
    .thead{
        font-size: 24px;
    }
    .tlist{
        font-size: 14px;
    }
    .tinfo ul{
        margin: 10px 2px;
    }
    
    .br1{
        display: none;
    }
    .deals{
        margin-top: 200px;
    }
    

    

    
}